/* START OF HOME PAGE */
/* body settings start */
body {
  background-color: gray;
  padding: 20px;
  margin: 40px;
  margin-top: 60px;
}

#page-links {
  font-size: 25px;
  text-align: start;
  position: relative;
  width: 290px;
  padding-left: 0%;
  height: 100%;
  padding-top: 20px;
}

div#page-links a {
  text-decoration: none;
  display: block;
  border-bottom: 1px inset white;
  padding-left: 10px;
  width: 100%;
}

#product-link {
  color: white;
}

#product-link:hover {
  background-color: green;
}

h5 {
  user-select: none;
}
/* body settings end */

/* navbar start */
.navbar {
  height: 68px;
}
/* navbar end */

/* navbar dropdown menu buttons start */
#nav-menu-togglers {
  height: 68px;
  margin-top: -5px;
}

#nav-drop {
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 0.00);
  border: none;
  font-size: 0px;
  height: 50px;
  width: 50px;
  margin-top: -10px;
}

#nav-drop:hover {
  background-color: black;
}

#nav-drop:focus {
  background-color: black;
  border: 1px solid white;
}
/* navbar dropdown menu buttons end */

/* hamburger menu offcanvas button start */ 
#offcanvasDarkNavbar {
  width: 300px;
  padding: 5px;
}

.navbar-toggler {
  font-size: 15px;
  border: none;
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  box-shadow: none;
}

.navbar-toggler:hover{
  background-color: black;
  box-shadow: none;
}

.navbar-toggler:focus {
  background-color: black;
  border: 1px solid white;
  color: transparent;
  box-shadow: none;
}
/* hamburger menu end */


/* offcanvas close button start */
.offcanvas-header .btn-close {
  padding: 20px;
  width: 15px;
  height: 15px;
  margin-top: -25px;
  margin-right: -20px;
}


.btn-close:hover {
  border-radius: 0px;
  --bs-btn-close-white-filter: invert(1) grayscale(-50%) brightness(200%);
}

.btn-close:focus {
  box-shadow: none;
}

.btn-close:active {
  box-shadow: none;
}
/* offcanvas close button end */

/* navbar dropdown menu items start */
ul li {
  border-bottom: 1px solid gray;
  width: 250px;
  margin: auto;
  padding: 5px;
}

#nav-drop-menu {
  background-color: silver;
  border: 2px solid black;
  border-radius: 0;
  width: 300px;
  height: 500px;
  padding: 5px;
}

#offcanvas-search-bar {
  border: none;
  border-radius: 0%;
  height: 50px;
  border-bottom: 0.5px solid gray;
  background-color: rgba(255, 255, 255, 0.00);
  color: white;
}
/* navbar dropdown items end */

/* offcanvas search bar start */
#offcanvas-search-bar:hover {
  background-color: black;
  border: 1px solid gray;
}

#offcanvas-search-bar:focus {
  border: 1px solid white;
  background-color: black;
  color: white;
  box-shadow: none;
}

#offcanvas-search-button {
  border-radius: 0%;
  height: 50px;
  width: 50px;
  font-size: 18px;
  border: none;
  color: gray;
}

#offcanvas-search-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.form-control::placeholder {
  color: gray;
}
/*offcanvas search bar end */

/* navbar search bar start */
form #navbar-bar-toggle {
  display: block;
  right: 128px;
  top: 22px;
  border-radius: 90px;
  margin-left: 1730px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  text-indent: 40px;
  border: none;
  cursor: pointer;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  position: absolute;
}

form #navbar-bar-toggle:hover {
  background-color: black;
  cursor: pointer;
}

form #navbar-bar-toggle:focus {
  width: 500px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  right: 180px;
  background-color: white;
  cursor: auto;
  background: white;
  border: 1px solid black;
  box-shadow: none;
  transition: 0.5s;
}
/* navbar search bar end */

/* navbar search bar search button start */
form #search-button {
  background-color: gray;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  font-size: 15px;
  height: 50px;
  width: 50px;
  top: 10px;
  right: 128px;
  border: 1px solid black;
  position: absolute;
}

form #search-button:hover {
  background-color: black;
  border: 1px solid white;
}
/* navbar search bar search button end */
/* END OF HOME PAGE */

/* START OF PRODUCTS PAGE */
/* add products button */
h1 {
  float: left;
  user-select: none;
}

#add-product-form {
  float: right;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid black;
  color: black;
  border-radius: 0;
  top: -100px;
}

#add-product-form:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
/* add products button end */

/* product search and filter */
#product-filter {
  margin-top: 60px;
}

#filter-sliders {
  float: left;
  margin-top: 2px;
}

#filter-button {
  border-radius: 0;
  color: black;
  width: 200px;
  background-color: white;
  border: 1px solid transparent;
  position: absolute;
  left: 335px;
  margin-top: 2px;
  height: 36px;
}

#filter-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.offcanvas.offcanvas-start {
  width: 300px;
  padding: 10px;
}

#filter-search-bar {
  width: 700px;
  border-radius: 0;
  border: none;
  border: 2px solid transparent;
  margin-left: 500px;
  height: 40px;
}

#filter-search-bar:hover {
  border: 2px solid black;
  border-right: 0px;
}

#filter-search-bar:focus {
  box-shadow: none;
  border: 2px solid black;
  border-right: 0px;
}

#filter-search-button {
  border-radius: 0;
  margin-left: -10px;
  height: 40px;
  width: 50px;
  color: black;
  background-color: transparent;
  border: none;
  border: 2px solid black;
}

#filter-search-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#action-drop {
  border-radius: 0;
  border: 1px solid transparent;
  width: 200px;
  float: right;
  bottom: 40px;
  margin-right: 325px;
}

#action-button {
  text-align: start;
  border-radius: 0;
  background-color: white;
  color: black;
  transition: 0.2s;
}

#action-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#action-arrow {
  float: right;
  margin-top: 5px;
}

#action-menu {
  border-radius: 0;
  width: 198px;
  border: 1px solid black;
  position: absolute;
  padding: 0;
}

#action-menu li {
  padding: 0;
}

#action-menu li button:hover {
  background-color: black;
  color: white;
}

ul li {
  border: none;
  width: 100%;
  border-top: 1px solid black;
}

ul li:nth-child(1) {
  border-top: none;
}
/* products search and filter end */

/* products search results */
#results-p {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 25px;
}

table {
  border: 1px solid black;
  width: 100%;
}

.form-check {
  padding-left: 2em;
}

.form-check-input {
  cursor: pointer;
}

.form-check-label {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

td div {
  border-top: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  margin-top: -2px;
}

/* products search results end */

/* END OF PRODUCTS PAGE */
* {
  transition: 0.2s;
}

#close-button:hover {
  background-color: red;
}